<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>Email Required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>Password Required!</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>